<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The web site of sbbtrainscars</title>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
    <script src="{{url_for('static',filename='leaflet/leaflet.js')}}"></script>

  </head>
  <body>
    <p>{{bitch_var}}</p>
     
    <h1>Route Calculator</h1>
<form action="/map" method="POST">
<p>Enter origin city:</p>
<input type="text" name="origin" id="originInput" placeholder="Enter origin city">

<p>Enter destination city:</p>
<input type="text" name="destination" id="destinationInput" placeholder="Enter destination city">

<button name="showMapButt" type="submit">Show Map</button>

  </form>
    
</body>
</html>
